.header1 {
    height: 120px;
    background-color: red;
}

.brand {
    height: 120px;

}

.plogin p { color: gray;}

.btn-red { 
    color: #fff !important;
    background-color: red !important; 
    justify-content: ;
}

h1 {
   font-size: 2.2rem !important;
   color: rgb(82, 82, 82);
}

body {
    color: rgb(97, 97, 97) !important;
}